**DAY #4**
---

# Arithmetic Operations on Complex Numbers

In [ ]:
z1 = 5+8j
z2 = 4+2j
print(z1 + z2)

(9+10j)

In [ ]:
print(z1 - z2)

(1+6j)

In [ ]:
print(z1 * z2)

(4+42j)

In [ ]:
print(z1 / z2)

(1.8+1.1j)

In [ ]:
print(z1 // z2)

TypeError: ignored

In [ ]:
print(z1 % z2)

TypeError: ignored

âˆ´ Only basics arithmetic operations such as ADDITION, SUBTRACTION, MULTIPLICATION & DIVISION is only possible on complex numbers

# range() function


range() function is used for generating a sequence of number.
It takes three optional arguments:
*start, stop, step*

*start:*  Defines the starting point of range. (Default value 0)

*stop:* Defines the stopping point of range. (Not included)
*step:* Defines jumping steps


```
range( start, stop, step)
```

In [29]:
for x in range(10):
    print(x)
print("----")
for y in range(100, 144):
    print(y)
print("----")
for z in range(100, 1000, 100):
    print(z)

0
1
2
3
4
5
6
7
8
9
----
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
----
100
200
300
400
500
600
700
800
900

# Consider two numbers. Perform their subtraction and if the result of subtraction is greater than 25, print their multiplication result else print their division result

In [3]:
a = int(input())
b = int(input())

100
25

In [4]:
if a - b > 25:
    print(a * b)
else:
    print(a / b)

2500

#  Consider a list of 10 elements of integer values. If the number in the list is divisible by 2, print the result as "square of that number minus 2".

In [20]:
import random
my_list = []
for _i in range(0, 10):
    my_list.append(random.randint(0, 30))
print(my_list)

[0, 8, 19, 12, 12, 2, 15, 10, 19, 28]

In [23]:
for i in range(len(my_list)):
    if my_list[i] % 2 == 0:
        print((my_list[i] ** 2) - 2)

-2
62
142
142
2
98
782

# Consider a list of 10 elements. Print all the elements in the list which are greater than 7 when that number is divided 2.

In [19]:
import random
my_list_2 = []
for _i in range(0, 10):
    my_list_2.append(random.randint(0, 30))
print(my_list_2)

[0, 30, 15, 11, 23, 27, 13, 17, 30, 11]

In [25]:
for i in range(len(my_list_2)):
    if my_list_2[i] / 2 > 7:
        print(my_list_2[i])

30
15
23
27
17
30