# Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only

In [ ]:
user_inp = input()
start = user_inp.find("@") + 1
end = user_inp.find(".")
print(user_inp[start:end])

john@google.com
google

# Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma separated sequence after sorting them alphabetically.

In [9]:
words = input()
word_list =sorted(words.split(","))
print(word_list)

without,hello,bag,world
['bag', 'hello', 'without', 'world']

# Create your own Jupyter Notebook for Sets.

A set is an unordered collection of unique elements return with curly brackets. ``` example = {'apple', 'banana', 'grapes'}```.

The sets does not have order or index. Hence, one cannot say the order in which the items might appear.

### Common Usage of sets are:
* Removing duplicates from a sequence .
* Membership Testing.
* Performing Mathematical Operations such as intersection, union, difference, and symmetric difference.

**Since v2.6 SETS were deprecated and replaced with _set/frozenset_ modules.**

The **set** type is mutable i.e the contents can be changed using functions like `add()` & `remove()`. *(Example 3)*

The **frozenset** type is immutable i.e the contents cannot be changed once it is created. <ins>See Example below</ins>

In [22]:
"""1. Example of a Set"""
my_set = {"Python", "C", "C++", "C#", "Ruby", "Java", "Clojure"}
print(my_set)
print(type(my_set))
print(len(my_set))

{'Ruby', 'C', 'C#', 'Python', 'Clojure', 'Java', 'C++'}
<class 'set'>
7

In [13]:
'''Example of Frozen Set'''
fset = frozenset( ("Python", "C", "C++", "C#", "Ruby", "Java", "Clojure"))
print(fset)
fset.add("Swift")

frozenset({'C#', 'Java', 'C++', 'Python', 'C', 'Ruby', 'Clojure'})

AttributeError: ignored

∵ Sets don't have index using [index_number] index method.

However, this can be done using `for` loop or one can access a specific element using `in`. *(Example 2)*

In [15]:
"""2. Accessing elements of a set"""
for elem in my_set:
    print(elem)
print("**********")
print("Swift" in my_set)
print("Ruby" in my_set)
print("ruby" in my_set)  # ∵ Strings are case sensitive

Ruby
C
C#
Python
Clojure
Java
C++
**********
False
True
False

#### Various functions associated with Sets
`set_name.add("element")` is used to add **ONLY ONE** element.

`set_name.update(["element1", "element2"])` is used to add **MULTIPLE** elements.

`set_name.remove("element")` & `set_name.discard("element")` is used to remove an element.

The remove() will RAISE an error while discard() DOES NOT.

`set_name.pop()` will pop an element randomly.

`set_name.clear()` will empty the set.

` del set_name` will delete the set completely.

In [23]:
""" 3. Various functions associated with Sets"""
my_set.add("Kotlin")
print(my_set)
my_set.update(["Swift", "R", "JavaScript"])
print(my_set)
my_set.remove("JavaScript")
print(my_set)
my_set.discard("R")
print(my_set)
my_set.pop()
print(my_set)
my_set_2 = my_set.copy()
print(my_set_2)

{'Ruby', 'C', 'C#', 'Python', 'Clojure', 'Kotlin', 'Java', 'C++'}
{'Ruby', 'C', 'C#', 'Python', 'Clojure', 'R', 'Swift', 'Kotlin', 'JavaScript', 'Java', 'C++'}
{'Ruby', 'C', 'C#', 'Python', 'Clojure', 'R', 'Swift', 'Kotlin', 'Java', 'C++'}
{'Ruby', 'C', 'C#', 'Python', 'Clojure', 'Swift', 'Kotlin', 'Java', 'C++'}
{'C', 'C#', 'Python', 'Clojure', 'Swift', 'Kotlin', 'Java', 'C++'}
{'C', 'C#', 'Python', 'Clojure', 'Swift', 'Kotlin', 'Java', 'C++'}

In [25]:
my_set_2.clear()
print(my_set_2)
del my_set_2
print(my_set_2)

set()

NameError: ignored

# Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number

In [30]:
my_list = [int(x) for x in input().split(" ")]
missing_no = ((len(my_list) + 1) * (len(my_list) + 2) / 2) - sum(my_list)
print("{} has missing number: {}".format(my_list, int(missing_no)))

1 2 4 6 3 7 8
[1, 2, 4, 6, 3, 7, 8] has missing number: 5

# A program to remove duplicate values

In [46]:
my_list = [int(x) for x in input().split(" ")]
unique_items = list(set(my_list))
unique_items = sorted(unique_items)
print(*unique_items, sep = " ")

12 24 35 24 88 120 155 88 120 155
12 24 35 88 120 155